/* Body
----------------------------------------------------------*/
* {
	box-sizing: border-box;
}

body {
	color: @text-color;
	font-size: @font-size;
	font-family: @font-family-primary;
	line-height: 1.6;
	background: @light;
	word-wrap: break-word;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:focus {
	outline: none;
}

/* Typography
----------------------------------------------------------*/
a {
	transition: 0.5s;
	color: @text-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
		color: @text-color;
	}

	&:focus {
		outline: 0;
		text-decoration: none;
	}

	img {
		border: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	font-family: @font-family-secondary;
	line-height: 1.2;
	color: @dark;
}

h1 {
	font-size: @font-size-h1;
}

h2 {
	font-size: @font-size-h2;
}

h3 {
	font-size: @font-size-h3;
}

h4 {
	font-size: @font-size-h4;
}

h5 {
	font-size: @font-size-h5;
}

h6 {
	font-size: @font-size-h6;
}

/* Elements
----------------------------------------------------------*/
img {
	max-width: 100%;
	height: auto;
}

input[type=text],
textarea {
	border: 1px solid @gray;
	background: @light;
}

blockquote {
	font-style: italic;
	border-left: @primary-color;
	margin-left: 30px;
	margin-right: 30px;
	padding: 20px;
}

/* Clearfix
----------------------------------------------------------*/
.clearfix {
	zoom: 1;

	&:before,
	&:after{
		content: "";
		display: table;
	}

	&:after{
		clear: both;
	}
}

/* Tabs
----------------------------------------------------------*/
.tabs {
	@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
	@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
	@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

	.tabs-nav {
		margin: 0;
		padding: 0;
		overflow: hidden;
		list-style-type: none;

		li {
			float: left;
		}

		a {
			display: block;
		}
	}

	.tabs-panel {
		clear: both;
		display: none;

		&.active {
			animation: fadeIn 1 1s ease;
			display: block;
		}
	}
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding: 0 15px;
    width: 20%;
    float: left;
}

.cart-icon {
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 12px;
	position: relative;
	background-color: #333;

	&:before {
		border-radius: 50%;
		content: "";
		width: 6px;
		height: 6px;
		position: absolute;
		top: -3px;
		left: 50%;
		margin-left: -3px;
		border: 1px solid #333;
	}

	&:after {
		content: "";
		width: 6px;
		height: 1px;
		position: absolute;
		top: 1px;
		left: 50%;
		margin-left: -3px;
		border-left: 1px solid @light;
		border-right: 1px solid @light;
	}
}

.bars-icon {
	display: inline-block;
	vertical-align: middle;
	width: 14px;
	height: 3px;
	position: relative;
	background-color: #333;

	&:before,
	&:after {
		transition: transform 0.4s;
		content: "";
		position: absolute;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		background-color: #333;
	}

	&:before {
		transform: translateY(-4px);
	}

	&:after {
		transform: translateY(4px);
	}
}

.active .bars-icon,
.bars-icon.active {
	background-color: transparent;

	&:before {
		transform: translateY(0) rotate(45deg);
	}

	&:after {
		transform: translateY(0) rotate(-45deg);
	}
}

.select2-container .select2-choice {
	padding: 5px 10px;
	border-color: @border-primary;
}

.select2-drop-active,
.select2-drop.select2-drop-above.select2-drop-active,
.select2-search input {
	border-color: @border-secondary;
}

/**
 * Bootstrap modal
 */
body.modal-open {
 	overflow: hidden;
}

.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	outline: 0;
	background: rgba(0,0,0,0.86);
	overflow: scroll;
	-webkit-overflow-scrolling: touch;

	&.fade .modal-dialog {
		transition: transform .3s ease-out;
		transform: translate3d(0, 0, 0);
	}

	&.in .modal-dialog {
		transform: translate3d(0, 0, 0);
	}
}

.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto;
}

.modal-dialog {
	position: relative;
	width: auto;
	margin: 10px;
}

.modal-content {
	box-shadow: none;
	border-radius: 0;
	position: relative;
	background-color: #fff;
	background-clip: padding-box;
	outline: 0;
	border: none;
}

.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000;

	&.fade {
		opacity: 0;
	}

	&.in {
		opacity: .5;
	}
}

.modal-header {
	min-height: 40px;
	text-align: center;
	position: absolute;
	z-index: 99;
	right: 0px;
	border: none;
	padding: 0;

	.close {
		height: 40px;
		width: 40px;
		color: #444444;
	}
}

.modal-title {
	margin: 0;
	line-height: 1.42857143;
}

.modal-body {
	position: relative;
	min-height: 40px;
	padding: 50px 30px;
}

.woocommerce .modal-body.product {
	.product_title {
		font-size: 18px;
		font-weight: 400;
		font-family: @font-family-secondary;
	}

	.woocommerce-review-link {
		display: none;
	}
}

.modal-footer {
	padding: 15px;
	text-align: right;
	border-top: 1px solid #e5e5e5;

	.btn + .btn {
		margin-bottom: 0;
		margin-left: 5px;
	}

	.btn-group .btn + .btn {
		margin-left: -1px;
	}

	.btn-block + .btn-block {
		margin-left: 0;
	}
}

.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}

button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	font-size: 21px;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

@media (min-width: 768px) {
	.modal-dialog {
		width: 70%;
		margin: 32px auto;
	}
	.modal-content {

	}
	.modal-sm {
		width: 300px;
	}
}
@media (min-width: 992px) {
	.modal-lg {
		width: 900px;
	}
}

.select2-container--default {
	.select2-selection--single {
		border-radius: 0;
		border-color: #eee;

		.select2-selection__rendered {
			line-height: 37px;
		}

		.select2-selection__arrow {
			height: 35px;
		}
	}
}

.select2-container {
	.select2-selection--single {
		height: 37px;
	}
}