.site-content {
	padding: 40px 0 30px;
}

.page-template-template-full-width {
	.site-content {
		padding: 0;
	}
}

.site-main {
	& > article {
		margin: 0 0 50px 0;
	}

	.numeric-navigation {
		float: right;
	}

	.results-navigation {
		float: left;
		line-height: 30px;
	}

	.pagination {
		border-top: 1px solid @border-primary;
		padding-top: 12px;
		width: 100%;
		overflow: hidden;
		margin: 0;
		border-radius: 0;
	}
}

article.sticky {
	.entry-title {
		position: relative;

		&:before {
			.icon("\f02e");
			color: @primary-color;
			font-size: 18px;
			float: left;
			margin: 0 10px 0 0;
		}
	}
}

.entry-header {
	margin-bottom: 15px;

	.entry-title {
		margin: 0 0 10px;
		font-size: 18px;
	}

	.entry-author,
	.entry-date,
	.entry-comments {
		margin-right: 20px;
		color: @gray-light;
		font-size: @font-size-small;

		i {
			margin-right: 4px;
			color: @dark;
		}

		a {
			color: @gray-light;

			&:hover {
				text-decoration: underline;
			}
		}

	}

	.entry-author {
		a {
			color: @dark;
		}
	}

	.entry-date {
		i {
			margin-right: 8px;
		}
	}
}

.single .entry-header {
	margin-bottom: 30px;
}

.full-content {
	.entry-format .entry-image img{
		width: 100%;
	}
}

.entry-format {
	margin-bottom: 15px;

	img {
		display: block;
	}

	iframe {
		width: 100%;
	}

	blockquote,
	.link-block {
		color: @light;
		font-size: @font-size-h3;
		font-style: normal;
		font-weight: 300;
		position: relative;
		display: block;
		margin: 0;
		padding: 30px 30px 30px 80px;
		background-color: #27282b;
		line-height: 1.1;

		&:before {
			position: absolute;
			left: 30px;
			top: 33px;
			color: @light;
		}
	}

	blockquote {
		&:before {
			font-family: FontAwesome;
			content: "\f10d";
		}

		cite {
			font-style: italic;
			font-size: @font-size;
			display: block;
			margin-top: 10px;
		}

		a {
			color: @primary-color;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.link-block {
		&:before {
			font-family: FontAwesome;
			content: "\f0c1";
			transition: 0.3s;
		}

		&:hover {
			background-color: @primary-color;
			text-decoration: none;

			&:before {
				color: @light;
			}
		}
	}
}

.format-audio.entry-format {
	position: relative;

	iframe,
	.audio-player {
		position: absolute;
		width: 80%;
		height: auto;
		top: 50%;
		left: 10%;
	}

	.wp-audio-shortcode {
		clear: none;
	}

	&.no-thumb {
		iframe,
		.audio-player {
			position: relative;
			width: 100%;
			height: auto;
			top: 0;
			left: 0;
		}
	}
}

.format-quote.entry-format {
	position: relative;

	blockquote {
		width: 80%;
		background: @light;
		margin: 0;
		padding: 30px 30px 30px 80px;
		color: @gray-dark;
		font-size: 24px;
		font-style: normal;
		position: absolute;
		top: 20%;
		left: 10%;
		line-height: 1.1;

		&:before {
			color: @gray-dark;
		}
	}

	&.no-thumb {
		blockquote {
			position: relative;
			background-color: @gray-dark;
			color: @light;
			width: 100%;
			top: 0;
			left: 0;

			&:before {
				color: @light;
			}
		}
	}
}

.format-audio .entry-format {
	iframe {
		height: auto;
	}

	.audio-player {
		background-color: #222;
		padding: 10px 0;
	}
}

&.format-link {
	&.entry-format {
		position: relative;
		.link-block {
			background-color: @light;
			width: 80%;
			text-align: center;
			color: @gray-dark;
			font-size: 24px;
			display: block;
			position: absolute;
			padding: 30px 30px 30px 80px;
			top: 50%;
			left: 10%;
			margin-top: -35px;

			&:before {
				color: @gray-dark;
			}

			&:hover {
				background: @primary-color;
				color: @light;

				&:before {
					color: @light;
				}
			}
		}
		&.no-thumb {
			.link-block {
				position: relative;
				background-color: @gray-dark;
				color: @light;
				width: 100%;
				top: 0;
				left: 0;
				margin-top: 0;

				&:before {
					color: @light;
				}

				&:hover {
					background: @primary-color;
					color: @light;
				}
			}
		}
	}
}

.entry-footer {
	clear: both;
	margin-top: 30px;

	.tags-links {
		display: block;
		padding: 10px 0;
		font-size: @font-size-small;

		a {
			color: @gray-light;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

// Comments
.comments-area {
	clear: both;

	.comment-reply-title {
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 700;
		margin-bottom: 20px;
		font-family: @font-family-secondary;
	}

	.comment-notes,
	.form-allowed-tags {
		display: none;
	}

	label {
		font-weight: 400;
	}

	input,
	textarea {
		border: 1px solid @border-primary;
		width: 100%;
		margin-bottom: 10px;
		padding: 8px;
		background-color: transparent;
		font-weight: 400;
	}

	.submit {
		.btn-secondary();
		width: auto;
	}

	.comments-title {
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 700;
		margin: 0 0 30px;
	}

	.comment-list {
		list-style: none;
		margin: 0;
		padding: 0;

		.comment {
			float: left;
			clear: both;
			width: 100%;

			article {
				padding: 23px 0;
				border-top: 1px solid @border-primary;
				overflow: hidden;
			}
		}

		.children {
			padding: 0;
			list-style: none;
			padding-left: 80px;

			article {
				border-top-width: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}



		.comment-author {
			padding-right: 15px;
			float: left;

			.avatar {
				width: 65px;
				height: 65px;
			}
		}

		.comment-meta {
			padding-left: 80px;

			.author-name {
				a {
					&:hover{
						color: @primary-color;
					}
				}
			}

			.comment-reply-link {
				float: right;
				color: #adadad;

				&:hover {
					color: #b0d95e;
				}
			}

			.comment-edit-link {
				float: right;
				margin-right: 20px;
			}

			.author-posted {
				color: @gray-light;

				&:hover{
					color: @primary-color;
				}
			}
		}

		& > .comment:first-child article {
			border: none;
		}
	}

	.numeric-navigation {
		clear: both;
		display: table;
		margin: 30px auto;
		float: none;
	}

	.comment-respond {
		margin-top: 50px;
	}

	.comment-content {
		word-break: break-all;
		padding-top: 8px;
	}

	.comment-awaiting-moderation {
		display: block;
	}
}

.sidebar-content {
	.content-area {
		float: right;
	}
}

.page-header {
	margin: 0;
	padding: 0;
	margin-bottom: 15px;

	.page-title {
		font-size: 20px;
		margin: 0 0 15px;
	}
}

.error404 {
	.error-404 {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	.page-header {
		border: none;
		text-align: center;

		.page-title {
			letter-spacing: 15px;
			font-size: 85px;
		}
	}

	.page-content p {
		margin:25px 0;
	}

	.search-form {
		text-align: left;
		width: 60%;
		max-width: 100%;
		padding: 10px;
		display: inline-block;
		border: 1px solid @border-secondary;

		i {
			margin-right: 10px;
		}
	}

	.search-field {
		border-width: 0;
		width: 95%;
	}
}

.owl-carousel {
	margin: 0;
	padding: 0;
	list-style: none;

	.owl-buttons .owl-prev,
	.owl-buttons .owl-next {
		transition: 0.5s;
	}


}

.format-gallery-slider {
	.owl-carousel {
		overflow: hidden;
		&:hover {
			.owl-buttons .owl-prev {
				opacity: 0.7;
				left: 10px;
				&:hover{
					opacity: 1;
				}
			}

			.owl-buttons .owl-next {
				opacity: 0.7;
				right: 10px;
				&:hover{
					opacity: 1;
				}

			}
		}
	}
}
