.footer-widgets {
	color: @gray;
	padding-top: 55px;
	background-color: #070707;

	a {
		color: @gray;

		&:hover {
			color: @primary-color;
		}
	}

	.widget {
		margin-bottom: 35px;

		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;

			li {
				padding: 0;
				margin-bottom: 10px;
				border-bottom-width: 0;
			}

			li:before {
				.icon("\f054");
				font-size: 6px;
				margin-right: 10px;
				margin-top: 7px;
				vertical-align: top;
			}
		}
	}

	.widget-title {
		color: #ddd;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 25px;

		&:after {
			content: "";
			display: block;
			width: 20px;
			height: 2px;
			margin-top: 5px;
			background-color: #444;
		}
	}
}

.footer-extra {
	padding-top: 30px;
	padding-bottom: 30px;
	border-top: 1px solid #1b1b1b;
	background-color: #070707;

	.icon-box {
		border-right: 1px solid #151515;

		h3 {
			color: #aaa;
		}
	}

	.vc_column_container:last-child .icon-box {
		border-right-width: 0;
	}
}

.footer-nav {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	border-bottom: 1px solid #1b1b1b;
	background-color: #111;

	.menu {
		ul {
			display: none;
		}
	}

	a {
		color: #bbb;

		&:hover {
			color: @primary-color;
		}
	}
}

.site-footer {
	color: @text-color;
	padding: 30px 0;
	background-color: #111;

	.socials {
		a {
			border-radius: 3px;
			color: @light;
			font-size: 14px;
			text-align: center;
			line-height: 30px;
			display: inline-block;
			width: 30px;
			height: 30px;
			margin: 0 4px;
			background-color: #222;

			&:last-child {
				margin-right: 0;
			}

			&:hover {
				background-color: @primary-color;
			}
		}
	}
}

.footer-light {
	.footer-widgets,
	.footer-extra,
	.footer-nav,
	.site-footer {
		background-color: @light;
	}

	.footer-widgets {
		color: #333;
		border-top: 1px solid #ededed;

		.widget-title {
			color: #333;
		}
	}

	.footer-extra {
		color: #333;
		border-color: #ededed;

		.icon-box {
			border-color: #ededed;

			h3 {
				color: @text-color;
			}
		}
	}

	.footer-nav {
		border-top: 1px solid #ededed;
		border-bottom-color: #ededed;

		a {
			color: #333;
		}
	}

	&.footer-vertical .footer-nav {
		.menu > li {
			border-right-width: 0;
		}
	}
}

.footer-vertical {
	.footer-nav {
		padding-top: 40px;
		padding-bottom: 0;
		border-bottom-width: 0;

		.menu > li {
			border-right: 1px solid #222;

			&:last-child {
				border-right-width: 0;
			}
		}

		+ .site-footer {
			padding-top: 10px;
			padding-bottom: 40px;
		}
	}

	.site-footer {
		color: #555;
		text-align: center;

		.site-info,
		.socials {
			width: 100%;
		}

		.socials {
			padding-top: 30px;
			text-align: center;

			a:last-child {
				margin-right: 4px;
			}
		}
	}
}
