.site-header {
	transition: 0.5s;

	.site-title,
	.site-description {
		margin: 0;
		line-height: 0;
		text-indent: -9999px;
	}

	.site-branding {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.menu-toggle,
	.cart-toggle {
		padding-top: 40px;
		padding-bottom: 40px;
		line-height: 60px;
	}
}

.logo-side .site-header {
	padding-top: 40px;
	padding-bottom: 20px;

	.site-branding {
		padding-top: 0;
		padding-bottom: 0;
	}
}

.topbar {
	color: #e5e5e5;
	font-size: 12px;
	line-height: 38px;
	padding: 9px 0;
	background-color: #000;

	a {
		color: #e5e5e5;

		&:hover {
			color: @primary-color;
		}
	}

	.widget {
		padding: 0 20px;
		margin: 0;

		.search-form {
			border-width: 0;
			padding: 0;

			.fa {
				color: #e5e5e5;
				margin-right: 10px;
			}
		}

		.search-field {
			width: 140px;
			padding: 0;
			border-width: 0;
			background: transparent;

			&:focus {
				outline: 0;
			}
		}
	}

	.cart-icon {
		margin-right: 10px;
		background-color: #e5e5e5;

		&:before {
			border-color: #e5e5e5;
		}

		&:after {
			border-color: #000;
		}
	}
}

.topbar-left {
	.widget {
		float: left;
		border-right: 1px solid rgba(255,255,255,.1);

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
			border-right-width: 0;
		}
	}
}

.topbar-right {
	.widget {
		float: right;
		border-left: 1px solid rgba(255,255,255,.1);

		&:first-child {
			padding-right: 0;
		}

		&:last-child {
			padding-left: 0;
			border-left-width: 0;
		}
	}
}

.mini-cart {
	color: #555;
	font-size: 12px;
	position: relative;

	.widget_shopping_cart_content {
		transition: top 0.3s ease 0s, opacity 0.3s;
		position: absolute;
		top: 110%;
		left: 50%;
		padding: 25px 30px;
		background-color: @light;
		border: 1px solid #eee;
		z-index: -1;
		opacity: 0;
		width: 250px;
		margin-left: -125px;
	}

	&:hover .widget_shopping_cart_content {
		top: 100%;
		opacity: 1;
		z-index: 10000;
	}

	&.woocommerce {
		.cart_list {
			li {
				font-size: 12px;
				line-height: 1.6;
				font-family: @font-family-primary;
			}

			.remove {
				display: none;
			}

			a {
				font-size: 12px;
				line-height: 1.6;
				font-weight: 400;
				border-top-width: 0;
				padding: 0;
			}
		}

		.total {
			line-height: 38px;
			text-transform: uppercase;
			margin-top: 10px;
			border-top: 1px solid @border-secondary;
			border-bottom: 1px solid @border-secondary;

			.amount {
				font-family: @font-family-secondary;
			}
		}

		.buttons {
			a {
				font-size: 10px;
				float: left;
			}

			.checkout {
				float: right;
			}
		}
	}
}

.header-dark {
	.site-header {
		background-color: #070707;

		.cart-icon {
			background-color: #eee;

			&:before {
				border-color: #eee;
			}

			&:after {
				border-color: #070707;
			}
		}

		.bars-icon {
			&,
			&:before,
			&:after {
				background-color: #eee;
			}
		}

		.active .bars-icon {
			background-color: transparent;
		}
	}

	&.logo-above.wide .primary-nav {
		border-color: #000;
	}
}

.site-banner {
	color: @light;
	font-size: 36px;
	font-weight: 700;
	line-height: 1;
	font-family: @font-family-secondary;
	padding: 130px 0 150px;
	background-size: cover;
	background-position: center center;

	.italic {
		font-weight: 400;
		font-family: 'Yellowtail', cursive;
	}

	.highlight {
		color: @primary-color;
	}
}

.breadcrumbs {
	color: #aaa;
	padding: 25px 0;
	background-color: @border-primary;

	a {
		color: #222;
	}
}

.archive.woocommerce .breadcrumbs {
	background-color: @light;
	border-bottom: 1px solid @border-secondary;
}
