.site {
	transition: 0.5s;
	background-color: @light;
}

.sidebar-content .site-content .content-area {
	float: right;
}

.wpb_content_element {
	margin-bottom: 0;
}

.boxed {
	.site {
		box-shadow: 0 0 10px rgba(0,0,0,0.1);
		width: 1290px;
		margin: 80px auto;
		padding: 0 60px;
		background-color: @light;
	}

	.topbar,
	.site-header,
	.site-banner,
	.breadcrumbs {
		margin-left: -60px;
		margin-right: -60px;
		padding-left: 60px;
		padding-right: 60px;
	}
}

.boxed.footer-dark {
	.footer-widgets,
	.footer-extra,
	.footer-nav,
	.site-footer {
		margin-left: -60px;
		margin-right: -60px;
		padding-left: 60px;
		padding-right: 60px;
	}
}
