.nav {
	a {
		color: @secondary-color;
		font-size: 12px;
		font-weight: 700;
		font-family: @font-family-secondary;
		text-transform: uppercase;
		display: block;

		&:hover {
			color: #aaa;
			text-decoration: none;
		}
	}

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;

		ul {
			transition: top 0.3s ease 0s, opacity 0.3s;
			position: absolute;
			left: 0;
			top: 110%;
			width: 200px;
			border: 1px solid #eee;
			background-color: @light;
			opacity: 0;
			z-index: -1;

			ul {
				transition: left 0.3s ease 0s, opacity 0.3s;
				left: 110%;
				top: 0;
			}
		}
	}

	li {
		display: inline-block;
		padding: 0 15px;
		position: relative;

		&:hover > ul {
			opacity: 1;
			z-index: 9999;
			top: 100%;
		}

		li {
			text-align: left;
			display: block;

			a {
				color: #555;
				font-size: 13px;
				font-weight: 400;
				text-transform: none;
				font-family: @font-family-primary;
				border-top: 1px solid #f4f4f4;
				padding: 8px 0;
			}

			&:hover > ul {
				top: -1px;
				left: 100%;
			}

			&:first-child > a {
				border-top-width: 0;
			}
		}
	}

	// Style for mega menu
	.menu {
		position: relative;
	}

	.menu-item-mega {
		position: static;

		&:hover {
			.mega-menu-container {
				opacity: 1;
				top: 100%;
				z-index: 9999;
			}
		}
	}

	.mega-menu-container {
		transition: top 0.3s ease 0s, opacity 0.3s;
		position: absolute;
		top: 110%;
		left: 0;
		padding: 30px;
		background-color: @light;
		border: 1px solid #eee;
		z-index: -1;
		opacity: 0;
		max-width: 100%;

		img {
			border: 1px solid @border-secondary;
		}
	}

	.mega-sub-menu {
		> a {
			color: #333;
			font-size: 13px;
			font-weight: 400;
			text-transform: none;
			text-align: left;
		}

		a {
			padding-left: 15px;
			padding-right: 15px;
		}

		ul {
			width: auto;
			position: static;
			z-index: auto;
			opacity: 1;
			visibility: visible;
			border-width: 0;
			background-color: transparent;
		}

		li {
			padding: 0;
		}

		li:first-child > a {
			border-top-width: 1px;
		}
	}

	.menu-item-content {
		a {
			padding: 0;
		}
	}
}

.primary-nav {
	padding-bottom: 25px;

	a {
		padding: 15px 0;
	}

	li li a {
		padding: 8px 0;
	}

	.menu > .menu-item-has-children > a {
		&:before {
			content: "+ ";
		}
	}

	.extra-menu-item {
		padding-right: 0;
		position: relative;

		> a {
			padding: 0;
		}

		i {
			cursor: pointer;
			margin: 15px 0;
		}

		.search-form {
			transition: top 0.3s, opacity 0.3s;
			position: absolute;
			right: 0;
			top: 110%;
			width: 290px;
			padding: 15px;
			border: 1px solid #eee;
			background-color: @light;
			z-index: -1;
			opacity: 0;

			&:before {
				display: none;
			}
		}

		.search-field {
			font-size: 12px;
			width: 100%;
			border-width: 0;
		}

		.widget_shopping_cart_content {
			left: auto;
			right: 0;
			margin-left: 0;

			ul {
				position: static;
				opacity: 1;
				border-width: 0;
			}
		}
	}

	.menu-item-cart {
		padding-right: 0;
	}

	.menu-item-search {
		> i {
			width: 12px;
		}

		&.show-search-form .search-form {
			top: 100%;
			opacity: 1;
			z-index: 10000;
		}

		&.show-search-form > i:before {
			content: "\f00d";
		}
	}
}

.logo-above {
	.primary-nav {
		text-align: center;
	}

	&.wide .primary-nav {
		padding-top: 10px;
		padding-bottom: 10px;
		border-top: 1px solid #ededed;
	}
}

.logo-side {
	.primary-nav {
		padding-top: 10px;

		.extra-menu-item {
			float: right;

			i {
				margin: 18px 0;
			}
		}
	}
}

.header-dark {
	.primary-nav {
		a {
			color: #eee;

			&:hover {
				color: #aaa;
			}
		}

		li li a {
			border-color: #000;
		}

		.menu > .current-menu-item > a {
			color: @primary-color;
		}

		ul ul,
		.mega-menu-container {
			border-color: #000;
			background-color: #070707;
		}

		.extra-menu-item {
			i {
				color: #eee;
			}
		}

		.cart-icon {
			background-color: #eee;

			&:before {
				border-color: #eee;
			}

			&:after {
				border-color: #070707;
			}
		}

		.cart_list {
			background-color: transparent;

			a {
				color: #555;
			}
		}
	}
}

.off-canvas-layer {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 999999;
	cursor: pointer;
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
}

.off-canvas-panel {
	-webkit-overflow-scrolling: touch;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
	transition: 0.5s;
	width: 280px;
	height: 100%;
	padding: 30px;
	background-color: #333;
	position: fixed;
	left: -280px;
	top: 0;
	overflow: auto;
	color: #aaa;

	&.cart-panel {
		left: auto;
		right: -280px;

		a {
			color: @light;
		}

		.remove {
			float: right;
			margin-top: 10px;
			background-color: #222;

			&:hover {
				color: @primary-color;
			}
		}

		.total {
			padding-top: 10px;
			text-transform: uppercase;
		}

		.buttons .checkout {
			float: right;
		}
	}

	.menu {
		margin: 0;
		padding: 0;
		list-style-type: none;

		ul {
			padding-left: 30px;
		}

		li {
			padding: 7px 0;
		}

		a {
			color: @light;
			font-weight: 700;
			text-transform: uppercase;
			font-family: @font-family-secondary;

			&:hover {
				text-decoration: none;
				color: #aaa;
			}
		}

		li li a {
			font-weight: 400;
			text-transform: none;
			font-family: @font-family-primary;
		}
	}
}

.display-nav {
	.site {
		transform: translateX(280px);
	}

	.main-nav.off-canvas-panel {
		left: 0;
	}

	.off-canvas-layer {
		display: block;
	}
}

.display-cart {
	.site {
		transform: translateX(-280px);
	}

	.site-header .toggle-cart .cart-icon {
		background-color: @primary-color;

		&:before {
			border-color: @primary-color;
		}
	}

	.cart-panel.off-canvas-panel {
		right: 0;
	}

	.off-canvas-layer {
		display: block;
	}
}

/* REV */
.tp-bullets.hermes .tp-bullet {
    width: 12px;
    height: 12px;
}

.rev_slider  .custom.tparrows {
	width: 45px;
	height: 60px;
	text-align: center;
	color: @light;
	background: rgba(0, 0, 0, 0.8);
	transition: 0.5s;

    &:before {
        line-height: 60px;
        font-size: 18px;
    }

	&:hover {
		background: rgba(255, 255, 255, 0.26);
	}
}

.numeric-navigation {
	text-align: center;

	.prev, .next {
		overflow: hidden;
		width: 30px;
		padding: 0 10px 0 8px;

		&:before {
			font-family: FontAwesome;
			content: "\f104";
		}
	}

	.next {
		padding: 0 10px;
		&:before {
			content: "\f105";
		}
	}

	a,
	span {
		color: @light;
		padding: 0 12px;
		height: 30px;
		line-height: 30px;
		margin: 0 0 0 4px;
		background: @gray-light;
		text-align: center;
		float: left;
		display: block;
	}

	a:hover, span.current {
		background: @secondary-color;
	}
}


.search-results {
	.site-main  {

		& > article {
			margin-bottom: 30px;
			padding-bottom: 30px;
			border-bottom: 1px solid #eeeeee;
		}

		.pagination {
			border-top: 0;
			padding-top: 0;
		}
	}
}
