@media (max-width: 1289px) {
	.boxed {
		.site {
			width: 100%;
			margin: 0;
		}
	}
}

// lg
@media (min-width: 1200px) {}

// md
@media (max-width: 1199px) {
	.boxed {
		.site {
			padding-left: 30px;
			padding-right: 30px;
		}

		.site-header,
		.site-banner,
		.breadcrumbs {
			margin-left: -30px;
			margin-right: -30px;
			padding-left: 30px;
			padding-right: 30px;
		}

		.vc_row.row-full-width {
			margin-left: -30px;
			margin-right: -30px;
			overflow: hidden;

			&.row-no-fluid .container-fluid {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}

	.site {
		overflow-x: hidden;
	}

	.products-carousel .owl-controls .owl-buttons {
		.owl-next {
			right: 0;
		}

		.owl-prev {
			left: 0;
		}
	}

	.bb-posts-carousel,
	.bb-images-carousel {
		.owl-controls .owl-buttons {
			div {
				opacity: 0.3;
			}

			.owl-prev {
				left: 0;
			}

			.owl-next {
				right: 0;
			}
		}
	}

	.video-banner video {
		height: auto;
	}

	.tabs-widget .tabs-nav .tab-comments a {
		font-size: 11px;
	}

	.footer-extra .container .vc_row .container {
		width: 100%;
	}

	.woocommerce-cart {
		.entry-content .woocommerce {
			margin-left: 0;
			width: auto;
		}
	}
}

// sm
@media (max-width: 991px) {
	.boxed {
		.site {
			padding: 0;
		}

		.site-header,
		.site-banner,
		.breadcrumbs,
		.footer-widgets,
		.footer-extra,
		.site-footer {
			margin-left: 0;
			margin-right: 0;
			padding-left: 0;
			padding-right: 0;
		}

		&.footer-dark {
			.footer-widgets,
			.footer-extra,
			.site-footer {
				margin-left: 0;
				margin-right: 0;
				padding-left: 0;
				padding-right: 0;
			}
		}

		.vc_row.row-full-width {
			margin-left: 0;
			margin-right: 0;
			overflow: hidden;
		}
	}

	.site-header {
		.site-branding {
			padding-top: 20px;
			padding-bottom: 20px;
			text-align: center;
		}

		.menu-toggle,
		.cart-toggle {
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	.logo-side .site-header {
		padding-top: 20px;
	}

	.display-nav {
		#nav-panel {
			left: -280px;
			display: none;
		}
	}

	.vc_row .container {
		padding-left: 15px;
		padding-right: 15px;
	}

	.video-banner video {
		height: auto;
	}

	.claudio-banner {
		.b-content {
			left: 15px;
			right: 15px;
		}

		.b-title {
			font-size: 20px;
		}

		.b-desc {
			font-size: 14px;
		}
	}

	.claudio-instagram .ins-list li {
		width: 50%;
	}

	.claudio-mailpoet.style-2 .wysija-input {
		width: 250px;
	}

    .claudio-newsletter.style-2 .newsletter-email {
        width: 250px;
    }

	.bb-post {
		.post-thumb {
			width: 35%;

			img {
				width: 100%;
				height: auto;
				max-width: 100%;
				max-height: 100%;
			}
		}

		.post-text {
			margin-left: 130px;

			p {
				height: 44px;
				overflow: hidden;
			}

			.read-more {
				display: none;
			}
		}
	}

	.bb-posts-carousel,
	.bb-images-carousel {
		.owl-controls .owl-buttons {
			display: none;
		}

		.owl-controls .owl-pagination {
			display: block;
		}
	}

	.primary-sidebar {
		margin-top: 40px;
	}

	.woocommerce {
		ul.products {
			li.product {
				&.first {
					clear: none;
				}

				&:nth-child(2n+1) {
					clear: left;
				}

				.product-content-thumbnails {
					.footer-product {
						bottom: 30px;

						.compare-button,
						.product-quick-view {
							display: none;
						}
					}
				}
			}
		}

		.related {
			li.product {
				width: 50%;
			}
		}
	}

	.footer-extra {
		.icon-box {
			padding-top: 10px;
			padding-bottom: 10px;
			border-right-width: 0;
		}
	}

	.site-footer {
		text-align: center;

		.socials {
			text-align: center;
			padding-top: 10px;
		}
	}

    .woocommerce {
        &.columns-1 {
            ul.products {
                li.product {
                    margin-right: 0;
                    padding: 0 15px;
                    float: left;
                    width: 100%;
                }
            }
        }

        &.columns-2 {
            ul.products {
                li.product {
                    width: 50%;
                    padding: 0 15px;
                    float: left;
                }
            }
        }

        &.columns-3 {
            ul.products {
                li.product {
                    width: 33.33%;
                    padding: 0 15px;
                    float: left;
                }
            }
        }

        &.columns-4 {
            ul.products {
                li.product {
                    width: 50%;
                    padding: 0 15px;
                    float: left;
                }
            }
        }

        &.columns-5 {
            ul.products {
                li.product {
                    width: 20%;
                    padding: 0 15px;
                    float: left;
                }
            }
        }

        &.columns-6 {
            ul.products {
                li.product {
                    width: 16.66%;
                    padding: 0 15px;
                    float: left;
                }
            }
        }

	    .col2-set {
		    .col-1,
		    .col-2 {
			    width: 100%;
		    }
	    }
    }
}

// xs
@media (max-width: 767px) {
	.wpb_column {
		&.no-padding-left {
			padding-left: 15px !important;
		}

		&.no-padding-right {
			padding-right: 15px !important;
		}
	}

	.promotion-image {
		img {
			width: 100%;
			height: auto;
		}
	}

	.featured-cat {
		margin: 10px 0;

		img {
			width: 100%;
			height: auto;
		}
	}

	.woocommerce {
		div.product {

		}

		.related h2 {
			margin-top: 30px;
		}

		ul.products {
			li.product {
				width: 50%;
			}
		}
	}

	.shop-toolbar {
		.text-right {
			text-align: left;
			margin-top: 15px;

		}

		.sort-by {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

// iphone 6 landscape
@media (max-width: 600px) {
	.woocommerce.shop-view-list ul.products li.product .product-content-thumbnails {
		width: 100%;
		float: none;
	}
	.woocommerce.shop-view-list ul.products li.product .product-info {
		margin-left: 0;
	}
}

// iphone 5 landscape
@media (max-width: 567px) {
	.bb-post {
		.post-thumb {
			float: none;
			width: 100%;
			margin-bottom: 15px;

			img {
				width: 100%;
				height: auto;
				max-width: 100%;
				max-height: 100%;
			}
		}

		.post-text {
			float: none;
			margin-left: 0;
		}
	}

	.claudio-mailpoet {
		.widget_wysija {
			.wysija-input {
				margin-bottom: 15px;
			}

			.wysija-submit {
				margin: 0 auto;
			}
		}

		&.style-2 {
			.wysija-paragraph {
				margin-bottom: 10px;
				width: 100%;
			}

			.wysija-input {
				width: 100%;
			}
		}
	}

    .claudio-newsletter {
        .newsletter-email {
            margin-bottom: 15px;
        }

        .newsletter-submit {
            margin: 0 auto;
        }

        &.style-2 {
            .newsletter-email {
                margin-bottom: 10px;
                width: 100%;
            }

            .newsletter-submit {
                width: 100%;
            }
        }
    }

	.claudio-instagram .ins-list li {
		width: 100%;
	}

	.comments-area .comment-list .children {
		padding-left: 15px;
	}

	.woocommerce {
		div.product {
			.woocommerce-tabs ul.tabs {
				li {
					a {
						font-size: 0;

						&:before {
							.icon("\f05a");
							font-size: 18px;
						}
					}
				}

				.description_tab a:before {
					content: "\f040";
				}

				.reviews_tab a:before {
					content: "\f086";
				}
			}
		}

		ul.products {
			li.product {
				width: 100%;

				.product-content-thumbnails {
					.footer-product {
						bottom: 30px;

						.compare-button,
						.product-quick-view {
							display: none;
						}
					}
				}
			}
		}

		nav.woocommerce-pagination {
			float: none;
		}

		.cart-container {
			padding-left: 0;
			padding-right: 0;
		}

		table.shop_table {
			td.product-thumbnail-name {
				font-size: 0;
			}

			.product-subtotal {
				display: none;
			}

			td.actions {
				.button {
					width: 100%;
					margin-top: 15px;
				}

				.coupon .button {
					width: auto;
					margin-top: 0;
				}
			}
		}

		.cart-collaterals .cart_totals .checkout-button {
			width: 100%;
			padding: 15px;
		}

		form.checkout {
			.form-row-first,
			.form-row-last {
				width: 100%;
				padding: 0;
			}

			.order-review {
				padding: 0;
				background-color: transparent;
			}

			.place-order .button {
				width: 100%;
				padding: 15px;
			}
		}
	}

	.footer-extra {
		.icon-box {
			border-right-width: 0;
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}

	.footer-nav li {
		display: block;
	}

    .woocommerce {
        &.columns-1 {
            ul.products {
                li.product {
                    width: 100%;
                }
            }
        }

        &.columns-2 {
            ul.products {
                li.product {
                    width: 100%;
                }
            }
        }

        &.columns-3 {
            ul.products {
                li.product {
                    width: 100%;
                }
            }
        }

        &.columns-4 {
            ul.products {
                li.product {
                    width: 100%;
                }
            }
        }

        &.columns-5 {
            ul.products {
                li.product {
                    width: 100%;
                }
            }
        }

        &.columns-6 {
            ul.products {
                li.product {
                    width: 100%;
                }
            }
        }
    }
}


