.vc_row {
	&.vc_row-fluid {
		margin-bottom: 0;
		margin-left: 0;
		margin-right: 0;

		.vc_row-fluid {
			margin-left: -15px;
			margin-right: -15px;
		}
	}

	.container {
		padding-left: 0;
		padding-right: 0;

		.vc_inner .container {
			width: 100%;
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.container-fluid {
		padding-left: 0;
		padding-right: 0;

		& > .vc_col-sm-12 {
			padding-left: 0;
			padding-right: 0;
		}
	}

	&.overlay-enable {
		position: relative;
	}

	.overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 0;
	}
}

.wpb_column {
	&.no-padding-right {
		padding-right: 0;
	}

	&.no-padding-left {
		padding-left: 0;
	}
}

.boxed {
	.vc_row.row-full-width {
		margin-left: -60px;
		margin-right: -60px;

		&.row-no-fluid .container-fluid {
			padding-left: 60px;
			padding-right: 60px;
		}

		&.row-stretch-content.vc_row-no-padding .container-fluid {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

.btn-primary,
.btn {
	.btn();
}

.btn-secondary {
	.btn-secondary();
}

.section-title {
	text-align: center;

	h2 {
		font-family: @font-family-secondary;
		font-size: 18px;
		text-transform: uppercase;
		font-weight: 700;
		text-align: center;
		margin: 0;
	}

	&.no-title,
	&.no-desc {
		margin-bottom: 20px !important;
		padding-bottom: 15px;
		position: relative;

		&:after {
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 60px;
			background-color: #444;
			height: 2px;
			margin-left: -30px;
			content: "";
		}
	}

	&.no-title {
		padding-bottom: 30px;
		.desc {
			color: #444;
			font-size: 19px;
			font-style: italic;
			padding-top: 0;
		}
	}

	.desc {
		color: #555;
		font-size: 16px;
		font-weight: 400;
		padding-top: 5px;
	}

}

.products-carousel {
	position: relative;

	.section-heading {
		font-size: 16px;
		text-transform: uppercase;
		margin: 0;
		font-weight: 700;
		margin-top: 4px;
	}

	.owl-carousel {
		.col-product {
			width: 100%;
		}

		.owl-item li.product {
			width: 100%;
		}
	}

	.owl-wrapper-outer {
		padding-top: 20px;
	}

	.owl-controls {
		.owl-buttons {
			div {
				color: @dark;
				font-size: 28px;
				top: 31%;
				margin-top: 0;
				background-color: #efefef;
				transition: 0.5s;

				&:hover {
					color: @light;
					background-color: @gray-darker;
				}
			}

			.owl-prev {
				left: -15px;
			}

			.owl-next {
				right: -15px;
			}
		}
	}
}

.bb-owl-list {
	margin-right: -15px;
	margin-left: -15px
}

.promotion-image {
	position: relative;
	display: block;

	.overlay {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		left: 0;
		background-color: rgba( 0, 0, 0, 0.16 );
		content: "";
		transition: 0.5s;
	}

	&:hover {
		.overlay {
			background-color: rgba( 0, 0, 0, 0.3 );
		}
	}

	.title {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		left: 10px;
		right: 10px;
		font-size: 16px;
		font-style: italic;
		text-align: center;
		color: @light;
		z-index: 1;
		font-family: Georgia, Arial, sans-serif;

		strong {
			text-transform: uppercase;
			display: block;
			font-style: normal;
			font-size: 26px;
			font-family: @font-family-secondary;
			letter-spacing: 2px;
		}
	}
}

.claudio-instagram {
	.section-title {
		font-size: 19px;
		font-family: @font-family-primary;
		font-weight: 400;
		text-transform: none;
		line-height: 1.2;
		font-style: italic;
		margin-bottom: 30px;
		padding-bottom: 20px;

		&:after {
			background-color: #444;
		}
	}

	.ins-list {
		margin-right: -8px;
		margin-left: -8px;
		padding: 0;
		clear: both;
		list-style-type: none;

		li {
			padding: 8px;
			float: left;
			width: 25%;
		}

		a {
			position: relative;
			display: block;

			&:after {
				position: absolute;
				top: 0;
				left: 0;
				content: "";
				width: 100%;
				height: 100%;
				background-color: transparent;
				transition: 0.5s;
			}

			&:hover {
				&:after {
					background-color: rgba(239, 239, 239, 0.5);
				}
			}

			img {
				width: 100%;
			}
		}
	}
}

.claudio-mailpoet {
	margin: 0 auto;
	display: table;

	.wysija-paragraph {
		float: left;
		padding: 0;
		margin: 0;
		position: relative;

		.formError {
			left: 0 !important;
			top: 48px !important;
			display: none;
		}
	}

	.widget_wysija {
		.wysija-input {
			height: 50px;
			line-height: 50px;
			color: #aaa;
			border: none;
			padding: 0 15px;
			width: 280px;
			border: 1px solid #d2d2d2;
			margin-right: 10px;
			background-color: @light;
			max-width: 100%;
		}

		.wysija-submit {
			.btn-secondary();
			font-size: 14px;
			padding: 0 35px;
			margin: 0;
			height: 50px;
			line-height: 50px;
			background-color: #333;
            float: left;
		}
	}

	&.style-2 {
		.wysija-input {
			height: 50px;
			line-height: 50px;
			width: 350px;
			border: none;
			margin-right: 0;
		}

		.wysija-submit {
			.btn-primary();
			padding: 0 20px;
		}
	}
}

.claudio-newsletter {
    margin: 0 auto;
    display: table;

   form p {
       float: left;
   }

    .newsletter-email {
        height: 50px;
        line-height: 50px;
        color: #aaa;
        border: none;
        padding: 0 15px;
        width: 280px;
        border: 1px solid #d2d2d2;
        margin-right: 10px;
        background-color: @light;
        max-width: 100%;
    }

    .newsletter-submit {
        .btn-secondary();
        font-size: 14px;
        padding: 0 35px;
        margin: 0;
        height: 50px;
        line-height: 50px;
        background-color: #333;
        float: left;
    }

    &.style-2 {
        .newsletter-email {
            height: 50px;
            line-height: 50px;
            width: 350px;
            border: none;
            margin-right: 0;
        }

        .newsletter-submit {
            .btn-primary();
            padding: 0 20px;
        }
    }
}

.featured-cat {
	position: relative;

	.cat-title {
		display: block;

		&:after {
			transition: 0.5s;
		}

		span {
			position: absolute;
			bottom: 60px;
			left: 0;
			width: 100%;
			text-align: center;
			font-family: @font-family-secondary;
			font-size: 19px;
			color: @dark;
			text-transform: uppercase;
			font-weight: 700;

			&:after {
				position: absolute;
				bottom: -15px;
				left: 50%;
				margin-left: -25px;
				width: 50px;
				height: 4px;
				background-color: #d6d5d5;
				content: "";
			}
		}
	}
}

.claudio-products,
.claudio-products-ajax {
	position: relative;
	.products-button {
		text-align: center;
		margin-top: 20px;

		a {
			.btn-secondary();
			padding: 15px 30px;
			display: inline-block;
			text-decoration: none;
		}
	}

	.ajax-loading {
		text-align: center;
		position: absolute;
		left: 0;
		bottom: 70px;
		width: 100%;
		display: none;

		i {
			font-size: 30px;
		}
	}
}

.bb-post {
	padding: 0 15px;

	.post-thumb {
		float: left;
		display: block;

		img {
			display: block;
			max-width: 170px;
			max-height: 170px;
		}
	}

	.post-text {
		margin-left: 200px;
		position: relative;

		.post-title {
			font-size: 16px;
			font-weight: 400;
			padding-bottom: 8px;
			display: block;
			color: @secondary-color;
			font-family: @font-family-secondary;

			&:hover {
				text-decoration: none;
				color: @primary-color;
			}
		}

		.read-more {
			.btn-secondary();
			font-size: 13px;
			text-transform: none;
			text-decoration: none;
			margin-top: 17px;
			display: inline-block;
		}

		p {
			font-size: 13px;
			padding-top: 8px;
			margin: 0;
		}
	}

	.post-meta {
		a,
		span {
			font-size: 12px;
			color: #aaa;
			text-transform: capitalize;
		}

		i {
			font-size: 14px;
			color: #666;
			padding-right: 5px;
		}

		.post-author {
			padding-right: 8px;
			margin-right: 11px;
			border-right: 1px solid #f0f0f0;
		}
	}

	&.no-thumb .post-text {
		margin-left: 0;
	}
}

.bb-posts-carousel,
.bb-images-carousel {
	.owl-controls .owl-buttons {
		div {
			background-color: #222;
			transition: 0.5s;
			opacity: 0;

			&:hover {
				background-color: #efefef;
				color: #333;
			}
		}

		.owl-prev {
			left: -50px;
		}
		.owl-next {
			right: -50px;
		}
	}

	.owl-controls .owl-pagination {
		display: none;
		padding-top: 30px;

		.owl-page {
			span {
				width: 10px;
				height: 10px;
				background: transparent;
				border: 1px solid @dark;
				border-radius: 50%;
			}

			&.active span {
				background-color: @dark;
			}
		}
	}

	&:hover {
		.owl-controls .owl-buttons div {
			opacity: 1;
		}
	}
}

.bb-images-carousel .owl-item {
	text-align: center;
}

.claudio-banner {
	position: relative;

	.b-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.38);
		content: "";
		z-index: 0;
	}

	.b-content {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		left: 80px;
		right: 80px;
		padding-bottom: 1px;
		z-index: 1;
	}

	.b-title {
		font-size: 36px;
		font-family: @font-family-secondary;
		font-weight: 700;
		color: @light;
		text-transform: uppercase;

		p {
			line-height: 1;
			margin: 0 0 5px 0;
		}
	}

	.b-desc {
		font-size: 16px;
		color: @light;
		padding-top: 5px;
	}

	.btn-banner {
		padding: 11px 38px;
		border: 2px solid @light;
		display: inline-block;
		text-transform: uppercase;
		font-size: 12px;
		font-family: @font-family-secondary;
		color: @light;
		margin-top: 18px;

		&:hover {
			color: @light;
			text-decoration: none;
			border-color: transparent;
			background-color: @primary-color;
		}
	}

	.b-footer {
		position: absolute;
		bottom: 20px;
		left: 80px;
		right: 80px;
		z-index: 1;

		.footer-link {
			text-transform: uppercase;
			font-size: 12px;
			font-family: @font-family-secondary;
			color: @light;
			letter-spacing: 2px;
		}
	}

	&.align-right {
		.b-content,
		.b-footer {
			text-align: right;
		}
	}

	&.align-center {
		.b-content,
		.b-footer {
			text-align: center;
		}

		.b-desc {
			padding-top: 10px;
			color: #aaa;
			font-style: italic;
			font-family: Georgia, Arial;
		}

		.btn-banner {
			margin-top: 38px;
		}
	}
}

.video-banner {
	position: relative;
	overflow: hidden;

	video {
		object-fit: cover;
		width: 100%;
	}

	i {
		transition: 0.3s;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -30px;
		margin-left: -30px;
		width: 60px;
		height: 60px;
		border: 4px solid rgba(255,255,255,0.6);
		color: @light;
		font-size: 18px;
		text-align: center;
		cursor: pointer;

		&:before {
			line-height: 52px;
		}
	}

	&.playing {
		i {
			opacity: 0;
		}

		&:hover i {
			opacity: 1;
		}
	}
}

.icon-box {
	i {
		color: @primary-color;
		float: left;
		font-size: 18px;
		margin-top: 2px;
	}

	h3,
	h5 {
		margin-left: 40px;
		margin-top: 0;
		margin-bottom: 5px;
	}

	h3 {
		font-size: 12px;
		text-transform: uppercase;
	}

	h5 {
		color: @text-color;
		font-size: 13px;
		font-weight: 400;
		font-family: @font-family-primary;
	}

	.box-content {
		padding-top: 10px;
	}

	&.icon-top {
		text-align: center;

		i {
			float: none;
			font-size: 32px;
			margin-bottom: 15px;
		}

		h3,
		h5 {
			margin-left: 0;
		}
	}

	&.icon-box-address {
		border: none;
		padding: 0;
		padding: 7px 0;

		i {
			border-radius: 0;
			background-color: transparent;
			color: @primary-color;
			width: 16px;
			height: 16px;
			margin-right: 10px;
			line-height: 16px;
		}

		h3 {
			padding: 0;
			font-size: 13px;
			font-weight: 400;
			text-transform: none;
			font-family: @font-family-primary;
			margin-left: 30px;
		}
	}
}

.wpcf7-form {

	.wpcf7-response-output {
		color: #398f14;
		margin: 0;
		padding: 0 15px;
		border:none;
	}

	.wpcf7-not-valid-tip {
		display: none;
	}

	.wpcf7-validation-errors {
		color: red;
		clear: both;
	}

	p {
		margin: 0;
	}

	.wpcf7-form-control {
		&.wpcf7-submit {
			.btn-secondary();
		}
	}

	.wpcf7-form-control-wrap {
		padding:0;
		text-indent: 0;
		display: block;

		.wpcf7-form-control {
			border: 1px solid @border-secondary;
			width: 100%;
			margin-bottom: 25px;
			padding: 15px 20px;
		}

		.wpcf7-textarea {
			height: 225px;
			line-height: 1;
		}

		.wpcf7-not-valid {
			border: 1px solid red;
		}

		::-webkit-input-placeholder {
			text-transform: uppercase;
		}

		:-moz-placeholder {
			text-transform: uppercase;
		}

		::-moz-placeholder {
			text-transform: uppercase;
		}

		:-ms-input-placeholder {
			text-transform: uppercase;
		}
	}

	.wpcf7-response-output {
		text-align: center;
	}
}
