.widget {
	margin-bottom: 40px;

	.widget-title {
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 700;
		margin-bottom: 20px;
		margin-top: 0;
		color: @secondary-color;
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			list-style: none;
		}
	}

	table,
	select {
		width: 100%;
	}

	select {
		border: 1px solid @border-primary;
		height: 30px;
		background-color: transparent;

		option {
			color: @gray;
		}
	}

	table {
		text-align: left;
		width: 100%;

		caption {
			border: 1px solid @border-primary;
			border-bottom-width: 0;
			text-align: center;
		}

		tr {
			border: 1px solid @border-primary;
			border-bottom-width: 0;
			padding: 3px 0;

			td,
			th {
				padding: 0 5px;
				border-bottom: 1px solid @border-primary;
				border-left: 1px solid @border-primary;
			}
		}
	}
}

.widget_calendar {
	line-height: 26px;
}

.widget_categories,
.widget_recent_comments,
.widget_rss,
.widget_pages,
.widget_archive,
.widget_nav_menu,
.widget_recent_entries,
.widget_meta,
.widget-recent-comments {
	li {
		border-bottom: solid 1px @border-primary;
		padding: 8px 0;

		&:first-child {
			padding-top: 0;
		}
	}

	.children {
		border-top: 1px solid @border-primary;
		margin-top: 10px;
		margin-left: 15px;

		li {
			a{
				padding-left: 10px;
			}

			.children {
				li {
					a {
						padding-left: 20px;
					}
					&:last-child {
						padding-bottom: 0;
						border-bottom: none;
					}
				}

				.children {
					li {
						a {
							padding-left: 30px;
						}
						&:last-child {
							padding-bottom: 0;
							border-bottom: none;
						}
					}
				}
			}

			&:last-child {
				padding-bottom: 0;
				border-bottom: none;
			}
		}
	}
}

.widget_tag_cloud {
	a {
		padding: 8px 10px;
		margin: 0 3px 6px 0;
		display: inline-block;
		font-size: 11px !important;
		font-weight: 400;
		background-color: @border-secondary;

		&:hover{
			background-color: @secondary-color;
			color: @light;
			text-decoration: none;
		}
	}
}

.tabs-widget {
	.tabs-nav {
		li {
			width: 33%;
			border-bottom: none;
			padding-bottom: 0;

			&:last-child {
				width: 34%;
			}

			&:before {
				display: none;
			}

			a {
				background: @border-secondary;
				border: 1px solid @border-primary;
				color: #646464;
				padding: 8px 0;
				text-align: center;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 700;
				font-family: @font-family-secondary;

				&.active {
					color: @light;
					text-decoration: none;
					border-color: transparent;
					background: @secondary-color;
				}

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	.tabs-panel {
		margin-top: -1px;
		padding: 15px 0 20px;
	}

	.tab-comments {
		.comment {
			border-bottom: solid 1px @border-primary;
			padding: 10px 0;
			overflow: hidden;
		}

		.comment-summary {
			font-style: italic;
			margin-bottom: 5px;
		}
	}
}

.recent-post,
.popular-post {
	border-bottom: solid 1px @border-primary;
	padding: 10px 0;
	overflow: hidden;

	&:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}

	.widget-thumb {
		float: left;
		width: 60px;
	}

	.post-text {
		margin-left: 75px;
		margin-top: 5px;

		.post-title {
			display: block;
			padding-bottom: 5px;
			font-weight: 700;
		}

		.post-date {
			color: @gray-light;
			font-size: 12px;
		}

		.post-comments {
			display: block;
			color: @gray-light;
		}

		.read-more {
			line-height: 2;
		}
	}

	&.no-thumbnail {
		.post-text {
			margin-left: 0;
			margin-top: 0;
		}
	}
}

.widget-recent-comments {
	li {
		padding: 20px 0;
		color: @gray-light;

		a,
		p {
			color: @gray;
		}
	}
}

.widget_search {
	.search-form {
		position: relative;
		padding: 0 5px;
		border: 1px solid @border-primary;

		.screen-reader-text {
			display: none;
		}

		.fa {
			margin-right: 5px;
		}

		::-webkit-input-placeholder {
			color: @gray-light;
		}

		:-moz-placeholder {
			color: @gray-light;
		}

		::-moz-placeholder {
			color: @gray-light;
		}

		:-ms-input-placeholder {
			color: @gray-light;
		}
	}

	.search-field {
		padding: 8px 0;
		background-color: transparent;
		font-weight: 400;
		border-width: 0;
		width: 90%;
	}
}

.widget_wysija {
	p label {
		display: none;
	}

	.wysija-input {
		height: 40px;
		line-height: 40px;
		width: 100%;
		background: rgba(206, 206, 206, 0.21);
		color: #888;
		border: none;
		padding: 0 15px;
	}

	.wysija-submit {
		.btn-secondary();
	}
}

.vc_wp_custommenu {
	.widget_nav_menu {
		margin-bottom: 0;
	}
}

.footer-widgets,
.topbar {
	.recent-post,
	.popular-post {
		border-color: rgba(255, 255, 255, 0.1);
	}

	.widget_categories,
	.widget_recent_comments,
	.widget_rss,
	.widget_pages,
	.widget_archive,
	.widget_nav_menu,
	.widget_recent_entries,
	.widget_meta,
	.widget-recent-comments {
		li {
			border-color: rgba(255, 255, 255, 0.1);
		}
	}

	.widget select {
		border-color: rgba(255, 255, 255, 0.1);
	}

	.widget table tr td,
	.widget table tr th,
	.widget table tr,
	.widget table caption {
		border-color: rgba(255, 255, 255, 0.1);
	}

	.tabs-widget {
		.tabs-nav {
			li {
				&:before {
					display: none;
				}
			}
		}
	}
}
