.woocommerce {
	a.button,
	button.button,
	input.button,
	#respond input#submit {
		.btn-secondary();

		&.alt {
			.btn-secondary();
		}
	}

	a.remove {
		width: 20px;
		height: 20px;
		line-height: 19px;
	}

	span.ribbon {
		border-radius: 50%;
		color: @light;
		font-size: 12px;
		font-weight: 400;
		text-transform: uppercase;
		text-align: center;
		line-height: 60px;
		font-family: @font-family-secondary;
		display: block;
		margin: 0;
		width: 60px;
		height: 60px;
		position: absolute;
		right: -14px;
		top: -20px;
		background-color: #444;
		z-index: 10;

		&.onsale {
			background-color: @primary-color;
		}

		&.featured {
			background-color: #ff8c46;
		}
	}

	.woocommerce-breadcrumb {
		font-size: 13px;
	}

	.quantity {
		.qty {
			width: 70px;
			height: 40px;
		}
	}

	div.product {
		.product_title {
			color: #444;
			font-size: 16px;
			font-weight: 700;
			margin-bottom: 0;
			font-family: @font-family-primary;
		}

		.woocommerce-product-rating {
			margin-bottom: 5px;
		}

		form.cart {
			margin-top: 2em;

			.quantity .qty {
				padding: 0 0 0 15px;
				border: 1px solid @border-secondary;
				height: 40px;
				line-height: 40px;
				min-width: 70px;
			}

			.single_add_to_cart_button {
				text-shadow: 1px 0 2px rgba(0,0,0,.06);
				font-size: 12px;
				font-weight: 400;
				line-height: 40px;
				height: 40px;
				padding: 0 20px;
				margin-left: 8px;
			}

			.view-detail-button {
				.btn();
				font-weight: 400;
				padding: 8px 12px;
				float: left;
				margin-left: 5px;
				display: none;
			}

			label,
			.label {
				color: @text-color;
				font-size: 13px;
				font-weight: 400px;
				text-align: left;
			}

			.variations {
				label {
					font-weight: 400;
				}

				select {
					height: 40px;
					padding: 10px 20px;
					border-color: @border-primary;
					color: #666;
				}
			}

			table {
				width: 100%;

				td {
					display: block;
				}
			}
		}

		.summary {
			.woocommerce-review-link {
				margin-left: 8px;
			}

			.woocommerce-product-rating {
				margin-bottom: 0;
			}

			.price {
				color: #333;
				font-size: 16px;
				margin-top: 10px;
				font-family: @font-family-secondary;

				del {
					display: inline;
					padding-right: 5px;
					color: @gray-light;
					font-size: 15px;
				}

				ins {
					font-size: 15px;
					font-weight: 400;
					text-decoration: none;

					span {
						color: @primary-color;
					}
				}
			}

			.stock {
				font-size: 13px;
				color: @gray;
				span {
					font-weight: 700;
				}

				&.in-stock span {
					color: #b0d95e;
				}

				&.out-of-stock span {
					color: @gray-light;
					text-decoration: line-through;
				}
			}

			.yith-wcwl-add-to-wishlist {
				float: left;
			}

			.yith-wcwl-add-to-wishlist a,
			.compare.button {
				transition: 0.3s;
				color: #666;
				text-align: center;
				line-height: 48px;
				width: 50px;
				height: 50px;
				float: left;
				padding: 5px;
				border: 1px solid #f0f0f0;

				&:hover {
					color: @primary-color;
					text-decoration: none;
				}
			}

			.compare.button {
				margin-left: -1px;
			}

			.yith-wcwl-add-to-wishlist + .clear {
				display: none;
			}

			.addthis_native_toolbox {
				.addthis_button_facebook_like,
				.addthis_button_tweet {
					padding-top: 4px;
					margin-left: 30px;
				}
			}
		}

		.product_meta {
			clear: both;
			margin: 0;
			padding: 30px 0 0;

			select {
				height: 40px;
				display: block;
				padding: 10px 20px;
				border-color: @border-primary;
				color: #666;
			}
		}

		.posted_in {
			font-weight: 700;
			margin-top: 10px;
			display: block;

			a {
				font-weight: 400;
			}
		}


		div.images {
			margin-bottom: 0;

			img {
				padding: 6px;
				border: 1px solid @border-secondary;
			}
		}

		div.thumbnails {
			.clearfix;

			a {
				float: left;
				width: 30.75%;
				margin-right: 3.8%;
				margin-bottom: 1em;
			}

			a.last {
				margin-right: 0;
			}

			a.first {
				clear: both;
			}

			&.columns-1 {
				a {
					width: 100%;
					margin-right: 0;
					float: none;
				}
			}

			&.columns-2 {
				a {
					width: 48%;
				}
			}

			&.columns-4 {
				a {
					width: 22.05%;
				}
			}

			&.columns-5 {
				a {
					width: 16.9%;
				}
			}

			&.owl-carousel {
				margin: 0 -5px;

				a {
					width: 100%;
					margin-right: 0;
					padding: 0 5px;
					border: none;

					img {
						padding: 6px;
  						border: 1px solid #eeeeee;
					}
				}

				.owl-controls {
					.owl-buttons div {
						background-color: transparent;
						color: @gray-light;
						width: 13px;
						height: 13px;
						line-height: 13px;
						margin-top: -7px;
						font-size: 13px;

						&:hover {
							color: @gray;
						}
					}

					.owl-prev {
						left: -10px;

						.fa-angle-left:before {
							content: "\f053";
						}
					}

					.owl-next {
						right: -10px;

						.fa-angle-right:before {
							content: "\f054";
						}
					}
				}
			}
		}

		.woocommerce-tabs {
			margin-top: 25px;

			ul.tabs {
				padding: 0;
				margin: 0;

				&:before {
					display: none;
				}

				li {
					border-radius: 0;
					margin: 0 -4px 0 0;
					padding: 0;
					border-color: @border-secondary;
					background-color: @light;

					&:before,
					&:after {
						display: none;
					}

					a {
						color: @gray;
						font-size: 14px;
						font-weight: 700;
						padding: 15px 20px;
					}

					&.active {
						background-color: @gray-lighter;
					}
				}
			}

			.panel {
				box-shadow: none;
				border-radius: 0;
				position: relative;
				padding: 20px;
				margin: -1px 0 0 0;
				border: 1px solid @border-secondary;
				z-index: 10;

				h2 {
					margin-top: 0;
					font-size: 16px;
				}
			}

			.comment-form-rating .stars {
				a {
					&:after {
						font-family: FontAwesome;
						content: "\f005";
						color: @gray-light;
					}

					&:hover:after,
					&.active:after {
						color: #ffb432;
					}
				}

				a.star-2:after {
					content: "\f005\f005";
				}

				a.star-3:after {
					content: "\f005\f005\f005";
				}

				a.star-4:after {
					content: "\f005\f005\f005\f005";
				}

				a.star-5:after {
					content: "\f005\f005\f005\f005\f005";
				}
			}

			.comment-form-comment {
				textarea {
					border: 1px solid @border-secondary;
				}
			}
		}
	}

	.upsells,
	.related {
		h2 {
			font-size: 16px;
			font-weight: 700;
			text-transform: uppercase;
			margin: 40px 0;
		}
	}

	.related {
		h2 {
			margin-top: 0;
		}

		li.product {
			width: 100%;
		}
	}

	.products ul,
	ul.products {
		margin-left: -15px;
		margin-right: -15px;
		margin-bottom: 0;

		ul.bb-products {
			margin: 0;
		}
	}

	ul.products {
		li.product {
			transition: 0.3s;
			margin-bottom: 30px;

			&.first {
				clear: left;
			}

			&:hover .product-content-thumbnails {
				.footer-product {
					bottom: 25px;
				}

				.attachment-shop_catalog {
					opacity: 1;
				}

				.wp-post-image {
					opacity: 0;
				}

				&.product-thumbnail-single {
					.wp-post-image {
						opacity: 1;
					}
				}
			}

			.product-inner {
				position: relative;
			}

			.onsale {
				right: -14px;
				top: -20px;
				margin: 0;
			}

			.product-content-thumbnails {
				position: relative;
				display: block;
				overflow: hidden;

				.attachment-shop_catalog {
					transition: 0.5s;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					opacity: 0;
				}

				.wp-post-image {
					position: relative;
					opacity: 1;
				}

				.footer-product {
					position: absolute;
					bottom: -100%;
					left: 0;
					transition: 0.3s;
					width: 100%;

					.footer-product-button {
						display: table;
						margin: 0 auto;
						border-bottom: 1px solid #ededed;
						background-color: @light;
						border-right: 1px solid @border-primary;
					}

					.btn-add-to-cart,
					.yith-wcwl-add-to-wishlist,
					.compare-button,
					.product-quick-view {
						float: left;
						display: block;
						border-left: 1px solid @border-primary;
						cursor: pointer;
                        padding: 0;

						&:hover {
							color: @primary-color;
						}
					}

                    .btn-add-to-cart i,
                    .yith-wcwl-add-to-wishlist a,
                    .compare-button a,
                    .product-quick-view i {
                        padding: 15px;
                    }

					.compare-button a {
						text-decoration: none;
						&:hover {
							color: @primary-color;
						}
					}

					.btn-add-to-cart {
						i {
                            padding: 16px;
                        }

						&.loading {
							&:after {
								top: 16px;
								right: 16px;
							}

							i {
								opacity: 0;
							}
						}
					}

					.product-quick-view {
						border-right: none;
					}
				}
			}

			a img {
				margin: 0;
			}

			.product-info {
				position: relative;
				.price {
					position: absolute;
					top: 0;
					right: 0;
				}
			}

			h3 {
				font-family: @font-family-secondary;
				font-size: 13px;
				padding: 0 65px 8px 0;
				line-height: 1.3;
				margin: 0;
				font-weight: 400;

				a {
					color: @secondary-color;

					&:hover {
						color: @primary-color;
					}
				}
			}

			a:hover h3 {
				text-decoration: underline;
			}

			.product-cat a {
				color: @gray;
				margin-top: 20px;
				display: block;

				&:hover {
					color: @primary-color;
				}
			}

			.star-rating {
				font-size: 13px;
			}

			.price {
				font-size: 15px;
				font-family: @font-family-secondary;
				color: @secondary-color;
				line-height: 1;
				display: block;
				position: relative;

				span {
					font-weight: 400;
					display: block;

					span {
						display: inline;
					}
				}

				.amount {
					padding-top: 20px;

					+ .amount {
						padding-top: 0;
					}
				}

				del {
					display: block;
					margin-bottom: 5px;

					span {
					   color: @gray;
					}

					.amount {
						padding-top: 0;
					}
				}

				ins {
					text-decoration: none;

					span {
						color: @primary-color;
					}

					.amount {
						padding-top: 0;
					}
				}

			}

			div[itemprop="description"],
			.woocommerce-product-details__short-description {
				display: none;
			}

			.button {
				line-height: 1;
				text-transform: none;
				position: relative;
				float: left;
				padding: 0;
				margin: 0;
				background: transparent;
				color: @gray;

				i {
					padding-right: 7px;
				}

				&:hover {
					text-decoration: underline;
					color: @text-color;
				}

				&.product_type_variable {
					.fa:before {
						content: "\f067";
					}
				}

				&.loading {
					&:after {
						top: 1px;
						right: -18px;
					}
				}

				&.add_to_cart_button.added {
					display: none;
				}

			}

			.added_to_cart.wc-forward {
				font-family: @font-family-secondary;
				font-size: 14px;
				font-weight: 400;
				width: 14px;
				float: left;
				padding: 0;
				line-height: 1;
			 	overflow: hidden;
				padding: 15px 15px;
				margin-right: 15px;
				color: #666;

				&:hover {
					color: @primary-color;
				}

				&:before {
					font-family: FontAwesome;
					content: "\f00c";
					padding-right: 7px;
				}
			}

			.clear {
				display: none;
			}
		}

		li.product-category {
			h3 {
				margin-top: 20px;

				mark {
					background-color: transparent;
				}
			}
		}
	}

	&.shop-view-list {
		ul.products {
			li.product {
				width: 100%;
				float: none;
				clear: both;

				.product-inner {
					padding-bottom: 30px;
					border-bottom: 1px solid @border-secondary;
				}

				.ribbon {
					right: auto;
					left: -14px;
				}

				.product-content-thumbnails {
					width: 270px;
					margin-right: 30px;
					float: left;
				}

				div[itemprop="description"],
				.woocommerce-product-details__short-description {
					display: block;
					margin-top: 15px;
				}

				.product-info {
					margin-left: 300px;
				}

				.price {
					position: static;

					del {
						display: inline;
					}

					span {
						display: inline;
					}
				}

				&.product-category {
					img {
						width: 270px;
						margin-right: 30px;
						float: left;
					}
				}
			}
		}
	}

	.star-rating {
		font-size: 13px;
		width: 60px;

		&:before,
		span:before {
			font-family: FontAwesome;
			content: "\f005\f005\f005\f005\f005";
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		&:before {
			color: #ccc;
		}

		span:before {
			color: #555;
		}
	}

	.compare.button {
		color: @gray-light;
		font-size: 0;
		background: transparent;

		&:before {
			font: normal normal normal 14px/1 FontAwesome;
			content: "\f0c9";
		}

		&:hover {
			background: transparent;
			color: @primary-color;
		}
	}

	.yith-wcwl-add-to-wishlist {
		margin: 0;

		.yith-wcwl-add-button,
		.yith-wcwl-wishlistaddedbrowse,
		.yith-wcwl-wishlistexistsbrowse {
			position: relative;
			line-height: 1;

			span {
				display: none;
			}

			a {
				color: @gray;
				font-size: 0;
				display: block;

				&:before {
					font: normal normal normal 14px/1 FontAwesome;
					content: "\f08a";
				}

				&:hover {
					color: @primary-color;
				}
			}

			.ajax-loading {
				margin: 0;
				position: absolute;
				top: 0;
			}
		}
	}

	nav.woocommerce-pagination {
		float: right;

		ul {
			margin: 0;
			padding: 0;
			border-width: 0;

			li {
				border-right-width: 0;
				margin-left: 4px;

				span,
				a {
					color: @light;
					font-size: 13px;
					line-height: 30px;
					border-radius: 0;
					border-width: 0;
					padding: 0 12px;
					background-color: @gray-light;

					&:hover {
						color: @light;
						text-decoration: underline;
						background-color: @secondary-color;
					}
				}

				span.current,
				a:hover {
					color: @light;
					background-color: @secondary-color;
				}
			}
		}
	}


	.wishlist-title h2 {
		font-size: 18px;
		color: @dark;
		font-weight: 400;
		font-family: @font-family-secondary;
	}

	table.shop_table {
		border-width: 0;
		border-collapse: collapse;

		img {
			width: 100px;
		}

		thead th,
		tbody td,
		tbody th,
		tfoot td,
		tfoot th {
			border-bottom: 1px solid @border-primary;
		}

		thead th {
			padding-left: 0;
			padding-right: 0;
			text-transform: uppercase;
			border-color: @border-secondary;
		}

		tbody td {
			padding: 15px 0;
		}

		.product-remove {
			padding: 0;
			text-align: center;

			a {
				color: #dc4f4f !important;
				font-size: 14px;
				width: 20px;
				height: 20px;
				text-align: center;
				line-height: 20px;
				display: inline-block;

				&:hover {
					color: @light !important;
					background-color: #dc4f4f;
				}
			}
		}

		.product-thumbnail {
			text-align: center;

			img {
				width: 70px;
				height: auto;
			}
		}

		.product-thumbnail-name {
			img {
				margin-right: 15px;
			}
		}

		.product-stock-status{
			span.wishlist-in-stock {
				color: #b0d95e;
				font-weight: 700;
			}

			span.wishlist-out-of-stock {
				font-weight: 700;
				color: @gray-light;
			}
		}

		.product-name a {
			font-size: 13px;
		}

		.product-price,
		.product-subtotal {
			span {
				font-family: @font-family-secondary;
				font-size: 14px;
				font-weight: 400;
			}
		}

		.product-add-to-cart {
			text-align: center;
			padding-left: 15px;
			padding-right: 15px;

			a {
				.btn();
				display: inline-block !important;
			}

			.sale-price-date {
				display: none;
			}
		}

		td.actions {
			padding: 20px 0;

			.coupon {
				label {
					font-family: @font-family-secondary;
					font-size: 14px;
					font-weight: 400;
					text-transform: uppercase;
					padding-right: 10px;
					padding-top: 5px;
					display: block;
				}

				.input-text {
					padding: 8px 5px;
				}

				.button {
					float: left;
				}
			}

			.button {
				color: @light;
				float: right;

				&[disabled] {
					padding: 10px 16px;
				}
			}
		}
	}

	table.wishlist_table {
		font-size: 13px;

		thead th {
			border-width: 0;
		}

		.product-price,
		.product-stock-stauts {
			text-align: center;
		}

		a.remove {
			font-size: 24px;
			line-height: 18px;
		}
	}

	.cart-collaterals .cart_totals {
		margin-top: 30px;

		h2 {
			font-size: 14px;
			text-transform: uppercase;
			font-weight: 400;
			font-family: @font-family-secondary;
			margin: 0;
			padding-bottom: 10px;
			border-bottom: 1px solid @border-secondary;
		}

		table {
			width: 100%;

			td,
			th {
				border-color: @border-primary;
			}

			th {
				width: 30%;
				text-align: left;
				font-weight: 400;
				color: @gray;
			}

			td {
				font-weight: 400;
				color: @gray;

				span {
					font-weight: 400;
				}
			}

			.amount {
				font-size: 16px;
				font-family: @font-family-secondary;
			}

			.shipping td {
				select {
					padding: 7px;
					border: 1px solid @border-primary;
				}

				a {
					color: @primary-color;
				}
			}

			.order-total {
				th {
					vertical-align: middle;
					text-transform: uppercase;
				}

				.amount {
					font-size: 20px;
				}
			}
		}

		.wc-proceed-to-checkout {

			.checkout-button {
				float: right;
			}
		}
	}

	form {
		.form-row {
			padding: 0;
		}
	}

	form.checkout_coupon {
		border: none;
		padding: 0;
		margin-top: 10px;

		.form-row {
			float: left;
			width: 50%;
			padding-right: 15px;
		}
	}

	form.checkout {
		h3 {
			font-size: 16px;
			text-transform: uppercase;
		}

		.select2-container .select2-choice,
		.input-text {
			border-radius: 0;
		}

		.form-row-first,
		.form-row-last {
			width: 50%;
			float: left;
		}

		.form-row-first {
			padding-right: 15px;
		}

		.form-row-last {
			padding-left: 15px;
		}

		.create-account label {
			display: inline-block;
		}

		.woocommerce-shipping-fields {
			h3 {
				position: relative;

				label {
					display: inline-block;
				}
			}
		}

		.order-review {
			padding: 30px;
			background-color: @border-primary;
		}
	}

	table.woocommerce-checkout-review-order-table {
		.product-total,
		.cart-subtotal td,
		.shipping td,
		.order-total td {
			text-align: right;
		}

		tfoot {
			th,
			td {
				padding-left: 0;
				padding-right: 0;
			}
		}

		.amount {
			font-family: @font-family-secondary;
		}
	}

	ul.order_details {
		li strong {
			font-family: @font-family-secondary;
			font-weight: 400;
			font-size: 13px;
		}
	}

	table.my_account_orders {
		th {
			font-size: 14px;
			border-left: 1px solid @border-primary;

			&.order-number {
				border-left: 0;
			}
		}

		td {
			font-size: 13px;
			font-family: @font-family-secondary;
			font-weight: 400;
			border-left: 1px solid @border-primary;

			&.order-number {
				border-left: 0;
			}
		}
	}

	form.login,
	form.register {
		border: none;
		padding: 0;
		margin: 0;
	}

	.input-text {
		border: 1px solid @border-secondary;
		background: @bg-color;
		padding: 10px;
	}

	.comment-form {
		margin: 15px 0;

		.comment-form-author {
			padding-right: 15px;
		}

		.comment-form-email {
			padding-left: 15px;
		}

		.comment-form-author,
		.comment-form-email {
			width: 50%;
			float: left;
			margin-bottom: 10px;

			label {
				display: block;
			}

			input {
				width: 100%;
			}
		}
	}

	#reviews #comments ol.commentlist {
		padding: 0;

		li {
			padding: 15px 0;
			border-bottom: 1px solid @border-primary;

			img.avatar {
				top: 15px;
				width: 60px;
				height: auto;
				padding: 0;
				border-width: 0;
				background-color: transparent;
			}

			.comment-text {
				border-radius: 0;
				margin-left: 80px;
				padding: 0;
				border-width: 0;

				p.meta {
					font-size: 13px;
				}
			}
		}
	}

	#shipping_method {
		li {
			label {
				display: inline;
			}
		}
	}

	.widget_price_filter {
		.ui-slider {
			.ui-slider-handle,
			.ui-slider-range {
				background-color: @primary-color;
			}
		}
		.price_slider_amount {
			.button {
				.btn();
			}

			.price_label {
				font-size: 13px;

				span {
					font-size: 13px;
				}
			}
		}

		.price_slider_wrapper .ui-widget-content {
			background-color: #464646;
		}
	}

	.widget_layered_nav_filters ul li a:before {
		color: @primary-color;
	}

	.yith-woocompare-widget {
		.products-list {
			margin-bottom: 10px;
		}

		li {
			padding: 5px 0;
		}

		a.compare.button {
			.btn();
			padding: 8px;
			font-size: 10px;

			&:hover {
				color: @light !important;
			}

			&:before {
				display: none;
			}
		}

		.clear-all {
			line-height: 30px;
		}
	}

	.widget_product_categories,
	.widget_layered_nav {
		ul li {
			border-bottom: solid 1px @border-primary;
			padding: 8px 0;

			ul {
				margin-top: 8px;
				padding-left: 15px;
				border-top: solid 1px @border-primary;
			}

			li {
				border-bottom-width: 0;
			}
		}
	}

	ul.cart_list,
	ul.product_list_widget {
		li {
			padding: 5px 0;

			img {
				float: left;
				margin-left: 0;
				margin-right: 15px;
			}

			.amount {
				font-family: @font-family-secondary;
				font-weight: 400;
			}

			del .amount {
				color: @gray-light;
				font-size: 12px;
			}

			.product-title {
				padding-bottom: 3px;
				display: inline;
			}

			.star-rating {
				margin-bottom: 3px;
			}

			img {
				width: 50px;
			}
		}
	}

	.widget_shopping_cart,
	&.widget_shopping_cart {
		.cart_list li {
			padding-left: 0;
			padding-right: 2em;
			padding-bottom: 10px;

			a.remove {
				left: auto;
				right: 0;
			}
		}

		.total {
			border-top: 1px solid @border-primary;
		}

		.buttons .checkout {
			float: right;
		}
	}

	.widget_product_search,
	&.widget_product_search {
		form {
			position: relative;
			padding: 7px 5px 7px 30px;
			border: 1px solid @border-secondary;

			&:before {
				.icon("\f002");
				position: absolute;
				left: 7px;
				top: 10px;
			}
		}

		label,
		input[type=submit] {
			display: none;
		}

		.search-field {
			border-width: 0;
			width: 100%;
		}
	}

	.widget_product_tag_cloud,
	&.widget_product_tag_cloud {
		.tagcloud a {
			padding: 8px 10px;
			margin: 0 3px 6px 0;
			display: inline-block;
			font-size: 11px !important;
			font-weight: 400;
			background-color: @border-secondary;

			&:hover {
				color: @light;
				text-decoration: none;
				background-color: @secondary-color;
			}
		}
	}

	.col2-set {
		margin: 0 -15px;

		.col-1,
		.col-2 {
			width: 50%;
			padding: 0 15px;
			float: left;
		}
	}

	&.columns-1 {
		ul.products {
			li.product {
				margin-right: 0;
				padding: 0 15px;
				float: left;
				width: 100%;
			}
		}
	}

	&.columns-2 {
		ul.products {
			li.product {
				width: 50%;
				padding: 0 15px;
				float: left;
			}
		}
	}

	&.columns-3 {
		ul.products {
			li.product {
				width: 33.33%;
				padding: 0 15px;
				float: left;
			}
		}
	}

	&.columns-4 {
		ul.products {
			li.product {
				width: 25%;
				padding: 0 15px;
				float: left;
			}
		}
	}

	&.columns-5 {
		ul.products {
			li.product {
				width: 20%;
				padding: 0 15px;
				float: left;
			}
		}
	}

	&.columns-6 {
		ul.products {
			li.product {
				width: 16.66%;
				padding: 0 15px;
				float: left;
			}
		}
	}
}

.woocommerce-cart {
	.entry-content .woocommerce {
		margin-left: 16.66666667%;
		width: 66.66666667%;
	}

	.entry-footer {
		clear: both;
	}
}

.woocommerce-checkout,
.woocommerce-account,
.comment-respond {
	h2,
	h3 {
		font-size: 18px;
	}
}

.woocommerce-checkout {
	.wc_payment_method label {
		position: relative;
		top: -2px;
	}

	.payment_method_paypal label {
		display: inline;
	}

	.wc-terms-and-conditions {
		label {
			position: relative;
			padding-left: 20px;

			.input-checkbox {
				position: absolute;
				left: 0;
				top: 8px;
			}
		}
	}

	.place-order .button {
		width: 100%;
	}
}

.shop-toolbar {
	margin: 0 0 60px;

	form {
		display: inline-block;
	}

	select {
		padding: 9px;
		vertical-align: middle;
		border: 1px solid @border-secondary;
		background-color: @light;
		max-width: 100%;
	}

	.page-title {
		font-size: 18px;
		text-transform: uppercase;
		margin: 0 0 10px;
	}

	.shop-view {
		a {
			font-size: 18px;
			line-height: 35px;
			text-align: center;
			display: inline-block;
			width: 37px;
			height: 37px;
			border: 1px solid @border-secondary;
		}

		.current {
			color: @primary-color;
			border-color: @primary-color;
		}

		.grid-view {
			margin-right: 3px;
		}
	}

	.sort-by {
		padding: 0;

		form {
			margin: 0;
			position: relative;

			&:after {
				.icon("\f0d7");
				position: absolute;
				right: 7px;
				top: 14px;
			}
		}

		select {
			appearance: none;
			vertical-align: middle;
		}

		select::-ms-expand {
			display: none;
		}
	}

	.woocommerce-result-count {
		float: left;
		margin: 0;
	}
}

.modal-dialog .woocommerce .product .cart .view-detail-button {
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0 20px;
}
