/**
 * Color Scheme mixin
 */
.color-scheme( @color ) {
	.btn() {
		background-color: @color;
		&:hover {
			background-color: #444;
		}
	}

	.btn-secondary() {
		.btn();
		background-color: #444;

		&:hover {
			background-color: @color;
		}
	}

	blockquote {
		border-left: @color;
	}

	.btn-primary,
	.btn {
		.btn();
	}

	.btn-secondary {
		.btn-secondary();
	}

	.claudio-mailpoet {
		.widget_wysija {
			.wysija-submit {
				.btn-secondary();
			}
		}

		&.style-2 {
			.wysija-submit {
				.btn-primary();
			}
		}
	}

	.claudio-products,
	.claudio-products-ajax {
		.products-button {
			a {
				.btn-secondary();
			}
		}
	}

	.wpcf7-form {
		.wpcf7-form-control {
			&.wpcf7-submit {
				.btn-secondary();
			}
		}
	}

	.bb-post {
		.post-text {
			.post-title {
				&:hover {
					color: @color;
				}
			}

			.read-more {
				.btn-secondary();
				font-size: 13px;
				text-transform: none;
				text-decoration: none;
				margin-top: 17px;
				display: inline-block;
			}
		}
	}

	.claudio-banner {
		.btn-banner {
			&:hover {
				background-color: @color;
			}
		}
	}

	.icon-box {
		i {
			color: @color;
		}
	}

	.topbar {
		a {
			&:hover {
				color: @color;
			}
		}
	}

	.site-banner {
		.highlight {
			color: @color;
		}
	}

	&.header-dark {
		.primary-nav {

			.menu > .current-menu-item > a {
				color: @color;
			}
		}
	}

	.off-canvas-panel {
		&.cart-panel {
			.remove {
				&:hover {
					color: @color;
				}
			}
		}
	}

	.display-cart {
		.site-header .toggle-cart .cart-icon {
			background-color: @color;

			&:before {
				border-color: @color;
			}
		}
	}

	.entry-format {
		blockquote {
			a {
				color: @color;
			}
		}

		.link-block {
			&:hover {
				background-color: @color;
			}
		}
	}

	&.format-link {
		&.entry-format {
			.link-block {
				&:hover {
					background: @color;
				}
			}
			&.no-thumb {
				.link-block {
					&:hover {
						background: @color;
					}
				}
			}
		}
	}

	// Comments
	.comments-area {
		.submit {
			.btn-secondary();
			width: auto;
		}

		.comment-list {
			.comment-meta {
				.author-name {
					a {
						&:hover{
							color: @color;
						}
					}
				}
				.author-posted {
					&:hover{
						color: @color;
					}
				}
			}
		}
	}

	.widget_wysija {
		.wysija-submit {
			.btn-secondary();
		}
	}

	&.woocommerce,
	.woocommerce {
		a.button,
		button.button,
		input.button,
		#respond input#submit {
			.btn-secondary();

			&.alt {
				.btn-secondary();
			}
		}

		.compare.button {
			background-color: transparent;

			&:hover {
				background-color: transparent;
			}
		}


		span.ribbon {
			&.onsale {
				background-color: @color;
			}
		}

		div.product {
			form.cart {
				.view-detail-button {
					.btn();
					font-weight: 400;
					padding: 8px 12px;
					float: left;
					margin-left: 5px;
					display: none;
				}
			}

			.summary {

				.price {
					ins {
						span {
							color: @color;
						}
					}
				}

				.yith-wcwl-add-to-wishlist a,
				.compare.button {
					&:hover {
						color: @color;
					}
				}
			}
		}

		ul.products {
			li.product {
				.product-content-thumbnails {
					.footer-product {
						.btn-add-to-cart,
						.yith-wcwl-add-to-wishlist,
						.compare-button,
						.product-quick-view {
							&:hover {
								color: @color;
							}
						}

						.compare-button a {
							&:hover {
								color: @color;
							}
						}
					}
				}

				h3 {
					a {
						&:hover {
							color: @color;
						}
					}
				}

				.product-cat a {
					&:hover {
						color: @color;
					}
				}

				.price {
					ins {
						span {
							color: @color;
						}
					}

				}

				.added_to_cart.wc-forward {
					&:hover {
						color: @color;
					}
				}
			}
		}

		.compare.button {
			&:hover {
				color: @color;
			}
		}

		.yith-wcwl-add-to-wishlist {

			.yith-wcwl-add-button,
			.yith-wcwl-wishlistaddedbrowse,
			.yith-wcwl-wishlistexistsbrowse {
				a {
					&:hover {
						color: @color;
					}
				}
			}
		}

		table.shop_table {
			.product-add-to-cart {
				a {
					.btn();
				}
			}
		}

		.cart-collaterals .cart_totals {
			table {
				.shipping td {
					a {
						color: @color;
					}
				}
			}
		}

		.widget_price_filter {
			.ui-slider {
				.ui-slider-handle,
				.ui-slider-range {
					background-color: @color;
				}
			}
			.price_slider_amount {
				.button {
					.btn();
				}
			}
		}

		.widget_layered_nav_filters ul li a:before {
			color: @color;
		}

		.yith-woocompare-widget {
			a.compare.button {
				.btn();
				padding: 8px;
				font-size: 10px;
			}
		}
	}

	.shop-toolbar {
		.shop-view {
			.current {
				color: @color;
				border-color: @color;
			}
		}
	}

	.footer-widgets {
		a {
			&:hover {
				color: @color;
			}
		}
	}

	.footer-nav {
		a {
			&:hover {
				color: @color;
			}
		}
	}

	.site-footer {
		.socials {
			a {
				&:hover {
					background-color: @color;
				}
			}
		}
	}
}
