@import url("../font-awesome.min.css");

.field-type-icon .icons-block {
	padding: 10px;
	margin-top: 10px;
	margin-right: 10px;
	background: #f0f0f0;
	border: 1px solid #ddd;
	display: none;
	width: 370px;
	position: relative;
}

.field-type-icon .icon-selector {
	padding: 6px;
	margin-top: 10px;
	margin-left: -10px;
	margin-right: -10px;
	max-height: 160px;
	overflow: auto;
	display: block;
}

.field-type-icon .icon-selector i {
	border-radius: 2px;
	display: inline-block;
	padding: 6px;
	margin: 4px;
	width: 20px;
	height: 20px;
	border: 1px solid #dfdfdf;
	background: #fff;
	text-align: center;
	cursor: pointer;
	font-size: 20px;
}

.field-type-icon .icon-selector i:before {
	vertical-align: middle;
}

.field-type-icon .icon-selector i.selected {
	border-color: #0089bd;
	background-color: #0089bd;
	color: #fff;
}

.field-type-image input {
	width: 320px;
}
